/* removes the border under the 'traffic lights' -- mac */
.tabs_borderShim {
	border: none;
}

/* adds 34px to the vertical border height */
.splitpane_panes_vertical .splitpane_pane + .splitpane_divider.splitpane_divider_vertical {
	height: calc(100% + 34px);
	margin-top: -34px;
}

/* sets vertical borders not 'touching the navbar' to default */
.splitpane_divider.splitpane_divider_horizontal + .splitpane_pane .splitpane_panes .splitpane_divider.splitpane_divider_vertical {
	height: 100%;
	margin-top: 0;
}